//== Base

html,
body {
    margin: 0;
    font-size:   $base-font-size;
    font-family: $font-family;
    line-height: $base-line-height;
    color:       $color-foreground;
    background:  $color-background;
    padding: 0;
    margin: 0;
}
main{
    background-color: #FFFBE3;
}

a {
    color: $color-link;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    color: inherit;
}
