//FONT PATH
$font-path: "./../resources/fonts/";

//BASE FONT SIZE IN PX
$base-font-size: 16;

//COLORS
// Brand Colors
$color-primary-white: #FFFFFF;
$color-primary-night-sky: #1E1D1C;
$color-secondary-light-gray: #EDEEF0;
$color-accent-mint: #D7EBE6;
$color-highlight-lavender-light: #E6F0FE;
$color-highlight-lavender-lighter: #F3F8FE;


$Poppins-Regular: "Poppins-Regular";
