:root {
    // Default theme (fallback)
    --primary-color: #000;
    --secondary-color: #FCF176;
    --accent-color: #FEFCE2;
    --background-grey: #EEEEEE;
    --background-dark: #1E1D1C;
    --background-white: #FFF;
}
