//== Custom Fonts

// Averta Std PE Font Family
@font-face {
  font-family: 'Averta Std PE';
  src: url('../resources/fonts/AvertaStdPE-Regular 1.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std PE';
  src: url('../resources/fonts/AvertaStdPE-Semibold 1.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std PE';
  src: url('../resources/fonts/AvertaStdPE-Bold 1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Malik Font Family
@font-face {
  font-family: 'Malik';
  src: url('../resources/fonts/Malik-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
