
//== Font

// Font Families
$font-family-primary:   "Averta Std PE", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-secondary: "Malik", serif;
$font-family:           $font-family-primary;

// Font Sizes
$font-size:             16px;

// Font Weights
$font-weight-normal:    400;
$font-weight-semibold:  600;
$font-weight-bold:      700;
$font-weight-extrabold: 800;

// Line Heights
$font-height:           1.5;

//== Color

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #2020E0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
